<div class="fullheight container d-flex align-items-center justify-content-center" id="conocenos">
    <div class="col-12 pt-5 pb-5">
        <div class="row justify-content-md-center">
          <div class="col-md-4">
            <img
              src="../../../assets/img/ic.png"
              class="img-fluid img-candidate mx-auto d-block"
              alt="IrvinChavez"
            />
          </div>
          <div class="col-md-8">
            <p class="p-conocenos" id="#conocenos-text">
              Mauris convallis in risus at aliquet. Pellentesque sollicitudin
              porttitor suscipit. Aenean pulvinar nibh nulla, semper efficitur odio
              volutpat condimentum. Aliquam cursus lacinia turpis, id sollicitudin
              magna accumsan a. Aliquam erat volutpat. Donec viverra, erat sed
              accumsan malesuada, dui nisl egestas elit, eu commodo ligula ex eu
              justo. Cras faucibus elit metus, nec maximus ante varius sed. Nam
              pretium placerat tellus et convallis. Nullam eget pulvinar quam, ac
              dapibus risus. Vivamus luctus dolor et felis maximus facilisis.
            </p>
          </div>
        </div>
      </div>
</div>
