<div
  class="
    fullheight
    d-flex
    align-items-center
    justify-content-center
    contenedor
  "
  id="misionyvision"
>
  <div class="texto-encima">Misión y Visión</div>
  <div class="row justify-content-md-center text-center">
    <div class="col-12 pt-5 pb-5">
      <div class="">
        <div class="row g-0">
          <div class="col-md-6 p-3">
            <div class="card rounded-3 border border-dark border-3 text-center p-conocenos">
              <div class="card-header p-3 border-0" style="background-color: #6886B8;"></div>
              <div class="card-body">
                <h5 class="card-title">VISIÓN</h5>
                <p class="card-text">
                  Ut a turpis odio. Curabitur efficitur est sem, sed
                  sollicitudin lorem accumsan sed. Curabitur malesuada ac libero
                  ac auctor. Fusce vel est eros. Vestibulum vehicula pretium
                  orci sit amet ultricies. Cras vehicula tortor sit amet
                  malesuada molestie. Nullam congue sodales magna, bibendum
                  posuere augue aliquam nec. Proin turpis augue, euismod quis
                  est quis, feugiat consectetur massa. Mauris et lobortis arcu,
                  vel commodo leo. Vestibulum dictum felis lectus, vel laoreet
                  enim finibus eu. Fusce interdum imperdiet lectus a varius..
                </p>
              </div>
              <div class="card-footer text-muted p-3 border-0" style="background-color: #6886B8;"></div>
            </div>
          </div>
          <div
            class="
              col-md-6
              p-3
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <div class="card rounded-3 border border-dark border-3 text-center p-conocenos">
              <div class="card-header p-3 border-0" style="background-color: #EB7D82;"></div>
              <div class="card-body">
                <h5 class="card-title">MISIÓN</h5>
                <p class="card-text">
                  Ut a turpis odio. Curabitur efficitur est sem, sed
                  sollicitudin lorem accumsan sed. Curabitur malesuada ac libero
                  ac auctor. Fusce vel est eros. Vestibulum vehicula pretium
                  orci sit amet ultricies. Cras vehicula tortor sit amet
                  malesuada molestie. Nullam congue sodales magna, bibendum
                  posuere augue aliquam nec. Proin turpis augue, euismod quis
                  est quis, feugiat consectetur massa. Mauris et lobortis arcu,
                  vel commodo leo. Vestibulum dictum felis lectus, vel laoreet
                  enim finibus eu. Fusce interdum imperdiet lectus a varius..
                </p>
              </div>
              <div class="card-footer text-muted p-3 border-0" style="background-color: #EB7D82;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
