<div class="fullheight" id="inicio">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    data-pause="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active contenedor">
        <div class="d-block w-100 img-banner img1"></div>
        <!-- <img src="../../../assets/img/img1.jpg" class="d-block w-100 img-banner" alt="..."> -->
        <div class="centrado">
          <div class="img-text pe-2">SIEMPRE</div>
          <div class="img-text">
            <span> CON LOS POBLADORES </span>
          </div>
        </div>
        <div class="centrado2">
          <div class="img-text">DE MI PERÚ</div>
          <div class="img-text"></div>
        </div>
      </div>
      <div class="carousel-item contenedor">
        <div class="d-block w-100 img-banner img2"></div>
        <!--  <img src="../../../assets/img/img2.jpg" class="d-block w-100 img-banner" alt="..."> -->
        <div class="centrado">
          <div class="img-text pe-2">SIEMPRE</div>
          <div class="img-text">
            <span> CON LOS POBLADORES </span>
          </div>
        </div>
        <div class="centrado2">
          <div class="img-text">DE MI PERÚ</div>
          <div class="img-text"></div>
        </div>
      </div>
      <div class="carousel-item contenedor">
        <div class="d-block w-100 img-banner img3"></div>
        <!-- <img src="../../../assets/img/img3.jpg" class="d-block w-100 img-banner" alt="..."> -->
        <div class="centrado">
          <div class="img-text pe-2">SIEMPRE</div>
          <div class="img-text">
            <span> CON LOS POBLADORES </span>
          </div>
        </div>
        <div class="centrado2">
          <div class="img-text">DE MI PERÚ</div>
          <div class="img-text"></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>
