<nav class="navbar navbar-expand-lg navbar-dark bg-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#inicio">
      <img src="../../../assets/img/logo.png" alt="logoirvinc" width="150" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#inicio"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#conocenos">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#campania">Campaña</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#misionyvision">Misión y Visión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reclamos">Reclamos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <ul class="list">
          <li>
            <a href="https://www.facebook.com/IrvinChavezOficial"
              ><span class="social-icon social-facebook"
                ><i class="fa fa-facebook"></i></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span class="social-icon social-whatsapp"
                ><i class="fab fa-whatsapp"></i></span
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/irvinchavez2018/"
              ><span class="social-icon social-instagram"
                ><i class="fa fa-instagram"></i></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

