<div class="fullheight" id="campania">
    <div class="col-12 facebook-iframe">
        <div class="row justify-content-md-center">
            <div class="col-md-4 text-center">
                <h3>Campaña</h3>
                <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIrvinChavezOficial&tabs=timeline&width=500&height=800&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                width="500"
                height="800"
                style="border: none; overflow: hidden"
                scrolling="no"
                frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              ></iframe>
            </div>
        </div>
    </div>
</div>
