html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.pointer{
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
.fullheight {
  height: 100vh;
  /*     padding-top: 4rem; */
}
.selected {
  color: #053692 !important;
  border-bottom: 5px solid #eb232f;
  left: 0;
  right: 0;
  content: '.';
  
}

.form-control {
  border: 1px solid #053692;
}

#misionyvision{
  background: linear-gradient(-18deg, #eb232f 700px, transparent 702px),
    linear-gradient(18deg, #053692 700px, #053692 702px);
}

#conocenos {
  background: linear-gradient(-18deg, #eb232f 700px, transparent 702px),
    linear-gradient(18deg, #053692 700px, #053692 702px);
}

#campania {
  background: linear-gradient(18deg, #053692 700px, transparent 702px),
    linear-gradient(-18deg, #eb232f 700px, #eb232f 702px);
}

#reclamos{
  background: #FFFFFF;
background: -webkit-linear-gradient(to top, #FFFFFF 0%, #eb232f 100%);
background: -moz-linear-gradient(to top, #FFFFFF 0%, #eb232f 100%);
background: linear-gradient(to top, #FFFFFF 0%, #eb232f 100%);
}

#modal {
  display: none;
}
.btn-form {
  background-color: #eb232f;
  color: white;
  font-weight: 600;
}

.btn-form:hover {
  background-color: #c5101c;
  color: white;
  font-weight: 600;
}
.contenedor {
  position: relative;
  display: inline-block;
}
.texto-encima {
  text-align: center;
  position: absolute;
  transform: rotate(-4deg);
  top: 110px;
  left: 10px;
  background-color: #eb232f;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  width: 350px;
}

.texto-encima2 {
  text-align: center;
  position: absolute;
  transform: rotate(-4deg);
  top: 110px;
  left: 10px;
  background-color: #053692;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  width: 350px;
}

.centrado {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.centrado2 {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.img-text {
  background-color: #053692;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.img-text:first-of-type {
  /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
  animation: showup 10s infinite;
}

.img-text:last-of-type {
  width: 0px;
  animation: reveal 10s infinite;
}

.img-text:last-of-type span {
  margin-left: -530px;
  animation: slidein 10s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 530px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 530px;
  }
}
.img-candidate {
  width: 70%;
}

.p-conocenos {
  font-size: 1.2rem;
  font-style: oblique;
}

.img-banner {
  height: 100vh;
}
.img1 {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("assets/img/img1.jpg");
  filter: brightness(0.4);
}
.img2 {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("assets/img/img2.jpg");
  filter: brightness(0.4);
}
.img3 {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("assets/img/img3.jpg");
  filter: brightness(0.4);
}

/* NAVBAR */
.bg-navbar {
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar-items{
  padding-left: 17%;
}
.list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-right: 32px !important;
}
.social-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  margin-right: 11px;
  cursor: pointer;
}

.social-facebook {
  background-color: #3b5999;
}

.social-whatsapp {
  background-color: #25d366;
}

.social-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* CAMPAÑA */
.facebook-iframe {
  height: 100vh;
  padding-top: 8rem;
}

/* RECLAMOS */
.reclamos-container{
  padding-top: 5rem;
}
.form-reclamo{
  padding: 3rem;
  height: 800 !important;
}

/* Footer */
.footer {
  height: 700px;
  background: linear-gradient(-8deg, #053692 690px, transparent 690px),
    linear-gradient(8deg, #eb232f 690px, #fff 690px);
}

.footer-right {
  padding-top: 22rem;
  color: white;
}

.footer-left {
  padding-left: 4rem;
  padding-top: 22rem;
  color: white;
}

.footer-mid {
  padding-top: 22rem;
  color: white;
}

.contact-data {
  padding-left: 2rem;
}

.footer-list {
  list-style: none;
}

.footer-social-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 25px;
  margin-right: 11px;
  cursor: pointer;
}

.footer-social-icon i {
  transition: 0.4s all;
}

.footer-social-icon:hover i {
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.maps {
  width: 400px;
  height: 250px;
}

/* responsive */
@media only screen and (max-width: 767px) {
  .navbar-items{
    padding-left: 0%;
  }
  .img-candidate {
    width: 50%;
    margin-bottom: 3rem;
  }
  .p-conocenos {
    font-size: 1rem;
    text-align: justify;
  }
  .texto-encima {
    transform: rotate(-4deg);
    top: 20px;
    left: 3px;
    font-size: 15px;
    width: 150px;
  }
  .centrado {
    display: none;
  }

  .centrado2 {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-right {
    display: none;
  }
  .footer-mid{
    display: none;
  }
  .centrado {
    display: none;
  }

  .centrado2 {
    display: none;
  }
  .navbar-nav .item {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-nav .item:hover {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .navbar-nav .item.active {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .bg-navbar {
    font-size: 1rem;
  }
  .navbar-items{
    padding-left: 0%;
  }
}
