<div class="footer mt-auto" id="contacto">
    <div class="">
        <div class="row">
            <div class="col-md-4 footer-left">
                <h2 class="contact-data">Datos de contacto</h2>
                <div class="">
                    <ul class="footer-list">
                        <li><strong><i class="fas fa-envelope"></i> EMAIL: </strong>irvinchavezyasociados.abogados@gmail.com</li>
                        <li><strong><i class="fas fa-phone"></i> TELËFONO: </strong>+51 922 531 791</li>
                        <li><strong><i class="fas fa-home"></i> SEDE PRINCIPAL: </strong>Mz D 14 lote 09 - Distrito de mi Perú</li>
                        <li><strong><i class="fas fa-clock"></i> HORARIO DE ATENCIÓN: </strong>LUN - DOMINGO  9 AM - 10 PM</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-mid text-center">
                <h2>Redes sociales</h2>
                <div class="d-flex justify-content-center">
                    
                    <ul class="list pt-3">
                      <li>
                        <a href="https://www.facebook.com/IrvinChavezOficial"
                          ><span class="footer-social-icon social-facebook"
                            ><i class="fa fa-facebook"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="footer-social-icon social-whatsapp"
                            ><i class="fab fa-whatsapp"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/irvinchavez2018/"
                          ><span class="footer-social-icon social-instagram"
                            ><i class="fa fa-instagram"></i></span
                        ></a>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-md-4 footer-right">
                <h2>Ubicación</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7656.068730720824!2d-71.51409567592651!3d-16.372211711523125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424bcf48deec61%3A0x3060bced96623c1e!2sOscar%20Neves%2C%20Alto%20Selva%20Alegre%2004003!5e0!3m2!1ses-419!2spe!4v1633216270513!5m2!1ses-419!2spe" class="maps" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    </div>